.App {
  text-align: center;
}

.App-header {
  background-color: rgb(227, 170, 25);
  height: 50px;
  padding: 20px;
  color: white;
}

.App-footer {
  background-color: rgb(53, 57, 164);
  height: 20px;
  padding: 10px;
  color: white;
}
